
.floatingNoodle1 {
	position: relative;
    left: 100px;
}

.floatingNoodle2 {
	position: relative;
    left: 500px;
}

.floatingNoodle3 {
	position: relative;
    left: 200px;
}

.floatingNoodle4 {
	position: relative;
    right: 200px;
}

.floatingNoodle5 {
	position: relative;
    left: 200px;
}

.arya {
	font-family: 'Arya', sans-serif;
	color: #041259;
}

#welcomeAbout {
	color: #041259;
}

#signUpbtns {
	margin-top: 80px;
}

#about {
	margin-top: -65px;
}

#dashLogo {
	position: relative;
	left: 20px;
	top: 20px;
}

#featured {
	position: relative;
	top: 30px;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

.parallax-container {
      height: 500px;
    }


.section {
	margin-top: 40px;
}



